@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

* {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
.container {
  background: #161828;
	margin: auto;
  position: fixed;
}
.content {
  position: absolute;
  margin: auto;
  background-size: cover;
  display: table;
  top: 0;
  text-align: center;
}
.content h1 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 700%;
  font-weight: 100;
  line-height: 50%;
  position: absolute;
  color: #E1EFE9;
  top: 300px;
}
.content h2 {
  position: absolute;
  top: 370px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 350%;
  font-weight: 100;
  color: #E1EFE9;
  line-height: 150%;
}
.content a {
  text-decoration: none;
}
.links {
  position: absolute;
  top: 470px;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 110%;
	font-weight: 400%;
	color: #CBDFD6;
	text-transform: uppercase;
	border: solid 1px #CBDFD6;
	padding: 10px 20px;
	border-radius: 9px;
	transition: all 0.3s;
	margin: 3px;
}
.btn:hover {
	color: #CBDFD6;
	border: solid 2px #353a5c;
}

/*--- redimensionar --*/
@media screen and (max-width: 900px) {
	.content {
		padding-bottom: 30%;
	}
	.content h1 {
		font-size: 450%;
	}
  .content h2 {
    font-size: 450%;
  }
	.btn {
		font-size: 60%;
		padding: 9px 15px;
	}
}
@media screen and (max-width: 768px) {
	.content {
		padding-bottom: 30%;
	}
	.content h1 {
		font-size: 300%;
	}
  .content h2 {
    font-size: 300%;
  }
	.btn {
		font-size: 50%;
		padding: 7px 15px;
	}
}
@media screen and (max-width: 480px) {
	.content {
		padding-bottom: 50%;
	}
	.content h1 {
		font-size: 250%;
	}
  .content h2 {
    font-size: 200%;
  }
	.btn {
		font-size: 40%;
		padding: 6px 14px;
	}
}
