@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.home {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../imgs/background.jpg) center no-repeat;
	background-size: cover;
	display: table;
	top: 0;
}
.home .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20%;
}
.content h1 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 700%;
	font-weight: 100;
	color: #d1ff83;
	line-height: 70%
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 110%;
	font-weight: 400%;
	color: #CBDFD6;
	text-transform: uppercase;
	text-decoration: none;
	border: solid 1px #CBDFD6;
	padding: 10px 20px;
	border-radius: 9px;
	transition: all 0.3s;
	margin: 3px;
}
.btn:hover {
	color: #d1ff83;
	border: solid 2px #d1ff83;
}
/*--- redimensionar --*/
@media screen and (max-width: 900px) {
	.content {
		padding-bottom: 30%;
	}
	.content h1 {
		font-size: 450%;
	}
	.btn {
		font-size: 110%;
		padding: 9px 15px;
	}
}
@media screen and (max-width: 768px) {
	.content {
		padding-bottom: 30%;
	}
	.content h1 {
		font-size: 300%;
	}
	.btn {
		font-size: 120%;
		padding: 7px 15px;
	}
}
@media screen and (max-width: 480px) {
	.content {
		padding-bottom: 50%;
	}
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 100%;
		padding: 6px 14px;
	}
}
