/*Normalizar Pagina*/
* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
/*Conf do Body & html*/
html, body {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-size: 96%;
}
/*Conf cabecalho*/
header {
	width: 100%;
	height: 100%;
	background: url(../images/background.jpg) center center no-repeat;
	background-size: cover;
}
/*Conf imagem*/
.info img {
	border: 2px #7FFF00 solid;
	border-radius: 50%;
	margin-top: 5%;
	height: 230px;
	width: 230px;
}
/*Texto*/
.info h1, h2 {
	color: #d1ff83;
	font-weight: 300;
}
/*Alinhamento*/
.txt-center { text-align: center; }

#whoami {
	width: 100%;
	height: 100%;
	background: url(../images/whoami.jpg)center no-repeat;
	background-size: cover;
}
#whoami h1 {
	color: #d1ff83;
	padding: 5%;
	font-weight: 300;
}
#whoami h3 {
	color: #d1ff83;
	font-weight: 300;
}
#projetos {
	height: 100%;
}
#projetos {
	background: url(../images/projetos.jpg);
}
#projetos h1 {
	color: #d1ff83;
	padding: 5%;
	font-weight: 300;
}
#projetos h3 {
	width: 100%;
	color: #d1ff83;
	font-weight: 300;
}
.box {
	display: inline-block;
	padding: 15px;
	margin: 15px;
	min-height: 250px;
	max-height: 250px;
	min-width: 250px;
  	max-width: 250px;
  	color: #333;
  	border: 0.8px solid #d1ff83;
  	border-radius: 3px;
}
.box hr {
    width: 100%;
    border: 0.1px solid #d1ff83;
}

.box h3 {
	color: #FFF;
	padding: 10px;
	min-height: 10px;
	text-transform: uppercase;
}

.box h4 {
	font-weight: 300;
	color: #FFF;
	padding: 20px;
}
.submit {
	padding: 10px 22px;
	color: #fff;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
	background: #6f6f6f;
	text-decoration: none;	
}
.submit:hover {
	color: #d1ff83;;
}
.down {
	position: relative;
	top: 40px;
}
